[submodule "zsh-themes/.oh-my-zsh/custom/themes/powerlevel9k"]
	path = zsh-themes/.oh-my-zsh/custom/themes/powerlevel9k
	url = https://github.com/bhilburn/powerlevel9k.git
[submodule "zsh-plugins/.oh-my-zsh/custom/plugins/zsh-syntax-highlighting"]
	path = zsh-plugins/.oh-my-zsh/custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh-plugins/.oh-my-zsh/custom/plugins/zsh-autosuggestions"]
	path = zsh-plugins/.oh-my-zsh/custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "polybar/.config/polybar/polybar-spotify"]
	path = polybar/.config/polybar/polybar-spotify
	url = https://github.com/Jvanrhijn/polybar-spotify
